html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    user-select: none;
    letter-spacing: 2px;

}

body {
    background-color: #121215;
    color: #dfe0fb;
}

/*Navbar*/
.header {
    height: 80vh;
    background-image: url("../Images/about.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.mblheader {
    display: none;
}

.upImg {
    width: 50%;
    position: relative;
    top: 10%;
    left: 54%;

}

.upImg p {
    font-size: 4.8rem;
    font-weight: bold;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 11vh;
    background-color: rgba(18, 18, 21, 0.3);

}

ul {
    display: flex;
    gap: 5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #dfe0fb;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    transition: 0.2s ease-out;

}

a:hover {
    color: rgb(104, 61, 247);
    text-shadow: 0 0 20px rgb(76, 22, 255);
}

.left {
    font-size: 35px;
    font-weight: 600;
    text-shadow: 2px 2px 20px #000000;

}

span {
    color: rgb(95, 69, 240);
    font-weight: 600;
    text-transform: capitalize;
    transition: 0.2s ease-out;

}

span:hover {
    text-shadow: 0 0 20px rgb(76, 22, 255);
}


/* First Section */



.btn .stream {
    width: 210px;
    height: 70px;
    margin-left: 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;

    color: #dfe0fb;
    background: linear-gradient(160deg, rgb(145, 114, 247)0%, rgb(104, 61, 247) 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 15px 0px;
}

.btn a {
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 600;

}

.btn a:hover {
    color: #dfe0fb;

}



/* About Section*/

.about {


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;


}

.leftAbt {
    width: 25%;
}

.leftAbt img {
    width: 100%;
    height: auto;
    border-radius: 44px;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

.rightAbt {
    width: 60%;

}

.rightAbt p {
    font-size: 25px;
    font-weight: 400;
    color: #84849d;
    text-align: justify;
    margin-bottom: 20px;

}


/*Rosters*/
.tmRoster {
    padding: 25px 0;
    width: 100%;
    background-color: #18181c;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-top: 1px solid rgb(95, 69, 240);
    border-bottom: 1px solid rgb(95, 69, 240);
}

.tmRoster::-webkit-scrollbar {
    display: none;
}

.tmRoster h1 {
    font-size: 60px;
    font-weight: 600;
    display: inline-block;
    margin-right: 20px;
    animation-timing-function: linear;
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;


}

.tmRoster h1 .span1 {
    background-color: rgb(95, 69, 240);
    color: #18181c;
    padding: 0px 20px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 24px));
    }
}

.tmRoster:hover h1 {
    animation-play-state: paused;
}


.roster {
    margin: 100px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}



.card {
    background-color: #18181c;
    border-radius: 24px;
    padding: 30px;
    height: auto;
    width: 23vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 13px;
    animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s;
}


.card .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.roster .card p {
    font-size: 23px;
    text-align: center;
    color: #84849d;
}

.roster .card span {
    font-size: 25px;
    text-align: justify;
}

.links i {
    font-size: 45px;
}

.inst {
    transition: 0.3s ease-out;
    margin-right: 30px;
}

.yt {
    transition: 0.3s ease-out;
}

.inst:hover {
    color: #f02e68;
    text-shadow: 0 0 15px #ff1b72;
}

.yt:hover {
    color: rgb(255, 60, 60);
    text-shadow: 0 0 15px rgb(255, 38, 38);
}


#pImg {

    width: 70%;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;

}


/* acheivement */

.acheivement {

    min-height: 75vh;
    display: grid;
    align-content: start;
    gap: 4rem;
    padding: 3rem 1rem;


}


.acheivement h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}


.acheivement ul {
    --col-gap: 2rem;
    --row-gap: 0rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
}

.acheivement .aCard:hover {
    color: var(--accent-color);
    text-shadow: 0 0 30px var(--accent-color);
}

/* line */

.acheivement ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 7;
    background: #dfe0fb;
    border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */

.acheivement ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
}

/* card */

.acheivement ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

/* date */

.acheivement ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: var(--accent-color);

    color: white;
    font-size: 1.25rem;
    font-weight: 700;

    display: grid;
    place-content: center;
    position: relative;

    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */

.acheivement ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;

    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
}

/* circle */

.acheivement ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: #dfe0fb;
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;

    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */

.acheivement ul li .descr {
    background-color: #18181c;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    position: relative;
    padding-inline: 1.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.acheivement ul li .descr {
    padding-top: 20px;
    padding-block-end: 1.5rem;
    font-weight: 300;
}

/* shadows */

.acheivement ul li .title::before,

.acheivement ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
}

.acheivement ul li .title::before {
    bottom: calc(100% + 0.125rem);
}


.acheivement ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
}

@media (min-width: 40rem) {

    .acheivement ul::before {
        content: "";
        grid-column: 1;
        grid-row: 1 / span 4;
        background: #dfe0fb;
        border-radius: calc(var(--line-w) / 2);
    }
    .acheivement h1{
        font-size: 3rem;
    }
    .acheivement ul {
        --row-gap: 5rem;
        grid-template-columns: 1fr var(--line-w) 1fr;
    }

    .acheivement ul::before {
        grid-column: 2;
    }

    .acheivement ul li:nth-child(odd) {
        grid-column: 1;
    }

    .acheivement ul li:nth-child(even) {
        grid-column: 3;
    }

    /* start second card */

    .acheivement ul li:nth-child(2) {
        grid-row: 2/4;
    }


    .acheivement ul li:nth-child(odd) .date::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        left: 0;
    }


    .acheivement ul li:nth-child(odd) .date::after {
        transform: translate(-50%, -50%);
        left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }

    .acheivement ul li:nth-child(odd) .date {
        border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
}


.acheivement .credits {
    margin-top: 1rem;
    text-align: right;
}

.acheivement .credits a {
    color: var(--color);
}

/*footer*/

footer {
    background-color: #18181c;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #84849d;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

/*Responsive*/



/* mobile header */

@media screen and (max-width: 900px) {
    html {

        scroll-padding-top: 1rem;

    }


    nav {
        display: none;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .container {
        max-width: 900px;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .grid {
        display: grid;
        gap: 1.5rem;
    }

    .mblheader {
        display: grid;
        width: 100%;
        position: fixed;
        overflow: hidden;
        top: auto;
        bottom: 0;
        left: 0;
        z-index: 100;
        background-color: #18181c;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    }

    .nav {
        max-width: 968px;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: #18181c;
        padding: 2rem 1.5rem 4rem;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
    }

    .nav__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        color: #dfe0fb;


    }

    .nav__link:hover {
        color: rgb(95, 69, 240);
    }

    .nav__icon {
        font-size: 1.2rem;
    }

    .nav__icon {
        font-size: 1.2rem;
    }

    .nav__close {
        position: absolute;
        right: 1.3rem;
        bottom: 0.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: #dfe0fb;
    }

    .nav__close:hover {
        color: rgb(95, 69, 240);
    }

    /* Show Menu */
    .show-menu {
        bottom: 0;
    }

    footer {
        padding:30px 0px 90px 0px;
    }

}

@media screen and (min-width: 1401px) {

    /*Navbar*/
    .header {
        height: 80vh;
        background-image: url("../Images/about.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .mblheader {
        display: none;
    }

    .upImg {
        width: 50%;
        position: relative;
        top: 10%;
        left: 60%;

    }

    .upImg p {

        font-size: 4.8rem;
        font-weight: bold;
    }




    /* About Section*/


    .leftAbt {
        width: 25%;
    }

    .leftAbt img {
        width: 100%;
        height: auto;
        border-radius: 44px;

        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    }

    .rightAbt {
        width: 60%;

    }



}



@media screen and (min-width: 914px) and (max-width: 1400px) {
    .header {
        height: 70vh;
    }

    .upImg {
        width: 50%;
        position: relative;
        top: 10%;
        left: 54%;


    }

    .upImg p {

        font-size: 3.3rem;
        font-weight: bold;
    }


    .btn.stream {
        width: 170px;
        height: 60px;
        margin-left: 0px;
        border-radius: 20px;

    }


    .btn a {
        font-size: 1.6rem;
    }

    .btn {
        margin-top: 15px;
    }




    .left {
        font-size: 20px;
    }


    /* About Section*/

    .about {
        gap: 30px;

    }

    .leftAbt {
        width: 30%;

    }


    .rightAbt {
        width: 60%;

    }

    .rightAbt p {
        font-size: 23px;
        text-align: justify;


    }

    .links {
        display: flex;
        justify-content: center;

    }

    hr {

        height: .05rem;
        margin: 0 2rem;

    }

    /*Rosters*/
    .roster {
        margin: 50px 0px;
        gap: 25px;
    }

    .card {
        padding: 20px;
        height: auto;
        width: 40vw;
        gap: 15px;
    }

    .card .links {
        gap: 0px;
    }


    .roster .card span {
        font-size: 18px;

    }

    .links i {
        font-size: 40px;
    }

    .inst {
        margin-right: 10px;
    }



    #pImg {

        width: 90%;

    }

    .roster .card p {
        font-size: 23px;

        color: #84849d;
    }

    .roster .card span {
        font-size: 25px;
        text-align: justify;
    }

    footer {
        font-size: 17px;
    }

    footer span {
        font-size: 17px;
    }
}

@media screen and (min-width: 551px) and (max-width: 913px) {
    .header {
        height: 80vh;
        background-position: 5% 0%;

    }

    .upImg {
        width: 100%;
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .btn.stream {
        width: 200px;
        height: 60px;
        margin-left: 0px;
        border-radius: 20px;

    }


    .btn a {
        font-size: 1.8rem;
    }

    .btn {
        display: flex;
        justify-content: center;
    }

    .upImg p {
        font-size: 63px;

    }


    .left {
        font-size: 20px;
    }


    /* About Section*/

    .about {
        gap: 15px;
        margin-top: 20px;
    }

    .leftAbt {

        width: 35%;

    }


    .rightAbt {
        width: 55%;

    }

    .rightAbt p {
        font-size: 16px;
        text-align: justify;


    }

    .links {
        display: flex;
        justify-content: center;

    }

    hr {

        height: .05rem;
        margin: 0 2rem;

    }

    /*Rosters*/

    .tmRoster {
        padding: 25px 0;
    }

    .tmRoster h1 {
        font-size: 45px;

    }



    .roster {
        margin: 50px 0px;
        gap: 25px;
    }

    .card {
        padding: 20px;
        height: auto;
        width: 45vw;
        gap: 15px;
    }

    .card .links {
        gap: 0px;
    }

    .roster .card p {
        font-size: 20px;

    }

    .roster .card span {
        font-size: 18px;

    }

    .links i {
        font-size: 35px;
    }

    .inst {
        margin-right: 10px;
    }



    #pImg {

        width: 70%;

    }

    footer {
        font-size: 13px;
    }

    footer span {
        font-size: 13px;
    }


}

@media screen and (min-width: 330px) and (max-width: 550px) {
    .header {
        height: 75vh;
        background-position: 5% 0%;

    }

    .upImg {
        width: 100%;
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .btn .stream {
        width: 150px;
        height: 50px;
        margin-left: 0px;
        border-radius: 20px;

    }

    .btn a {
        font-size: 1.3rem;
    }

    .btn {
        display: flex;
        justify-content: center;
    }

    .upImg p {
        font-size: 40px;

    }


    .left {
        font-size: 20px;
    }


    /* About Section*/

    .about {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;
    }

    .leftAbt {
        margin-top: 10px;
        width: 70%;
    }

    .leftAbt img {
        border-radius: 200px;
    }

    .rightAbt {
        width: 85%;

    }

    .rightAbt p {
        font-size: 16px;
        text-align: center;

    }

    .links {
        display: flex;
        justify-content: center;

    }

    hr {

        height: .05rem;
        margin: 0 2rem;

    }

    /*Rosters*/
    .tmRoster {
        padding: 20px 0;
    }

    .tmRoster h1 {
        font-size: 25px;

    }



    .roster {
        margin: 50px 0px;
        gap: 25px;
    }

    .card {
        padding: 15px;
        height: auto;
        width: 75vw;
        gap: 15px;
    }

    .card .links {
        gap: 0px;
    }

    .roster .card p {
        font-size: 16px;

    }

    .roster .card span {
        font-size: 18px;

    }

    .links i {
        font-size: 25px;
    }

    .inst {
        margin-right: 10px;
    }



    #pImg {

        width: 70%;

    }

    footer {
        font-size: 13px;
    }

    footer span {
        font-size: 13px;
    }


}


